@model MusicFormProject.Models.Music
@{
    ViewBag.Title = "Music Form";
}

<h2>Add Music</h2>
<br />

@using(Ajax.BeginForm("Create","Home",FormMethod.Post,new AjaxOptions{OnSuccess="success"})){
    <label>Song Name: </label><br />
    @Html.TextBoxFor(m=>m.SongName)<br />
@Html.ValidationMessageFor(m => m.SongName,"", new { @class = "text-danger" })
    <br />
    <label>Album Name: </label><br />
    @Html.TextBoxFor(m=>m.AlbumName)
    <br />
    <label>Artist: </label><br />
    @Html.TextBoxFor(m=>m.Artist)<br />
@Html.ValidationMessageFor(m => m.Artist, "", new { @class = "text-danger" })
    <br />
    <label>Duration: </label><br />
    @Html.TextBoxFor(m=>m.Duration)
    <br />
    <label>Year: </label><br />
    @Html.TextBoxFor(m=>m.PublishYear)
    <br />
    <input type="submit" value="Save"/>

}
@section scripts
{
    <script type="text/javascript">
        function success(result)
        {
            if(result.IsSuccess){  

               alert(result.ResMessage);
               $("form")[0].reset();
            }else{
                alert(result.ResMessage)
            }            
            
        }
</script>
        
    
    
    
    
}
